.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}


/*箭头*/

.ant-carousel .slick-slider .slick-prev{
    z-index:99;
    left:0;
    height: 40px!important;
}
.ant-carousel .slick-slider .slick-next{
    z-index:99;
    right:0;
    height: 40px!important;
}
.ant-carousel .slick-slider .slick-prev::before{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    transform: rotate(130deg);
    top: 18px;
    left: 10px;
}
.ant-carousel .slick-slider .slick-prev::after{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    transform: rotate(40deg);
    bottom: 17px;
    left: 10px;
}
.ant-carousel .slick-slider .slick-next::before{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    transform: rotate(40deg);
    top: 18px;
    left: 10px;
}
.ant-carousel .slick-slider .slick-next::after{
    content: ' ';
    position: absolute;
    width: 2px;
    height: 15px;
    background: #fff;
    display: block;
    transform: rotate(130deg);
    bottom: 17px;
    left: 10px;
}