#login-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12,1);
    background-image: url("./img/bg2.jpg");
    background-size: 100% 100%;
    z-index: 99
}

.container {
    position: relative;
    width: 240px;
    height: 300px;
    padding: 100px 40px 40px 40px;
    box-sizing: content-box;
}


.title,.footer{
    color: white;
}
.showBox {
    transform: rotateY(0deg);
}

.hiddenBox {
    transform: rotateY(180deg);
}

.loginBtn {
    padding: 10px 50px;
    border: 2px solid #4FA1D9;
    border-radius: 50px;
    background: transparent; /***透明**/
    font-size: 11px;
    color: #4FA1D9;
    transition: all .2s;
}

.bottom {
    display: flex;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

.registerBtn {
    color: #D3D7F7;
}

.loginBtn:hover {
    background: #4FA1D9;
    color: white;
    cursor: pointer;
}

.registerBtn:hover {
    color: #4FA1D9;
    cursor: pointer;
}

#login-page .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 90px 40px 40px 40px;
    backface-visibility: hidden; /*****当元素不面向屏幕时是否可见****/
    background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(47, 47, 47) 100%);  /**函数用于创建一个线性渐变的图像***/
    border-radius: 10px;
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1);*/
    box-shadow: -5px 5px 5px rgba(47, 47, 47, 0.29); /***阴影***/
    transition: all 1s;  /***过渡效果**/
}

